extends layout

block content
  div(class="flex-1 flex-col")
    header(class=" mo-header")
        a(href="/" class="close-btn flex-center items-center" ,role="button" )
          img(src="/images/close.svg" , class="close-btn" alt="", srcset="")
        h1.title= title 
        div(href="/", class="close-btn" ,role="layout" )
    div(class="info px-content") 
        p 어서오세요
        p 약관동의가 필요해요
    div(class="flex items-center px-content select-all")
        label(for="select-all" ,class="checkbox-container") 전체동의
          input(type="checkbox",id="select-all" ,name="select-all" )
          span(class="checkmark")
    
      
    form(class="agreement-form" action="/sign_up/phone") 
      
      div(class="checkbox-wrapper")
        hr.line
        -var infos = [{ name: "배달의민족 이용약관 동의", required: true ,isDescription:true},{ name: "전자금융거래 이용약관 동의", required: true ,isDescription:true},{ name: "개인정보 수집이용 동의", required: true,isDescription:true },{ name: "개인정보 제3자 제공 동의 (선택)", required: false ,isDescription:true},{ name: "마케팅 정보 메일, SMS 수신동의 (선택)", required: false ,isDescription:false},]
          each val,index in infos
            div(class="flex items-center")
              label(for=index ,class="checkbox-container")= val.name
                input(type="checkbox",id=index ,name=index , required=val.required===true )
                span(class="checkmark")
              if val.isDescription
                span.arrow >
        hr.line
        div(class="flex-col select-container ")
            div(class="age-radio-container")
              img(src="/images/age-over.png", class="age-image" alt="", srcset="")
              label(for="up" class="radio-container") 
                strong 만 14세 이상입니다. 

                input(type="radio", id="up", name="age", value="up" checked ) 
                span(class="radio-checkmark")
            div(class="age-radio-container")
              img(src="/images/age-under.png", class="age-image" alt="", srcset="")

              label(for="down" class="radio-container") 
                div(class="flex-col") 
                  strong 만 14세 미만입니다. 
                  span 보호자의 동의가 필요합니다.

                input(type="radio", id="down", name="age", value="up" ) 
                span(class="radio-checkmark")
          
      button(class="submit-btn" disabled) 다음으로
 
    
  
  script(src="/scripts/agreement.js") 

              

    